@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f4edf3;
  --color-secondary: #fff1f6;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  hr {
    background-color: #a196a0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-light-lavender: #e1dee9;
  --color-dark-lavender: #d5cfe1;
  --color-grey-lavender: #a09abc;
  --color-mist-lavender: #e4e1eb;
  --color-dim-grey: #635f74;
  --color-thistle: #bbb5cf;
  --color-platinum: #f1f0f4;
  --color-primary: #f4edf3;
  --color-secondary: #fff1f6;
  --color-button: #93e1d8;
  --color-text: #a196a0;
  --color-desktop: #7a9ab5;
  --color-window: #fffbf9;
  --color-border: #7a9ab5;
  --color-desktop-background: #e9f2e9;
  --color-hr: #a8cad3;
  /* --color-background: #f1f0f4; */
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px
  );
}
